body {
    
}

.graph-tab {
    width: 10px;
    display: inline-block;
}

#app {
    width: 100%;
    
    display: flex;
    
}

.search-input {
    width: 80%;
}

#left-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#components-panel {
    
}

#selected-panel {
    border: 1px solid black;
    padding: 5px;
}

#inventory-panel {
    border: 1px solid black;
    padding: 5px;
}

#right-panel {
    
    flex-grow: 1;
}

input {
    margin: 5px;
}

button {
    margin: 5px;
}